.full-height {
  min-height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-1em {
  gap: 1em;
}

.mg-b-05em {
  margin-bottom: 0.5em;
}

.mg-b-1em {
  margin-bottom: 1em;
}

.card {
  background-color: var(--c-second);
  border-radius: var(--border-radius-m);
  padding: 1.5em 2em;
  transition-property: background-color;
  transition-duration: var(--duration-short);
  box-shadow: var(--shadow-prime);

  &:hover:not(.no-hover) {
    background-color: var(--c-second-acc-1);
  }
}
