.full-height {
  min-height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-col,
.flex-row {
  &.no-wrap {
    flex-wrap: nowrap;
  }
}

.flex-grow {
  flex-grow: 1;
}

.gap-1 {
  gap: 1em;
}

.row {
  margin-bottom: 1em;
}

.card {
  background-color: var(--c-second);
  border-radius: var(--border-radius-s);
  padding: .5em 1.5em 1em 1.5em;
  transition-property: background-color;
  transition-duration: var(--duration-short);
  box-shadow: var(--shadow-prime);

  &:hover:not(.no-hover) {
    background-color: var(--c-second-acc-1);
  }
}